{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block scripts %}{{ chalk_mathjax_tags | safe }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {% if this.body %}{{ this.body }}{% endif %}
  {% if this.abstract %}
  <h3>Abstract</h3>
  {{ this.abstract }}
  {% endif %}
  <h3>Math part</h3>
  {{ this.math }}
{% endblock %}
